@{
    ViewData["Title"] = "Operar en Bolsa";
}
@model practica1.Models.Operaciones
<h1>Bienvenido a operaciones en bolsa</h1>

<form asp-controller="Operacion" asp-action="Operar" method="post">
    <div>
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" required />
    </div><br />
    <div>
        <label asp-for="Apellido">Apellido</label>
        <input asp-for="Apellido" required />
    </div><br />
    <div>
        <label asp-for="FechaOperacion">Fecha de Operacion</label>
        <input asp-for="FechaOperacion" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" required />
    </div><br />
    <div>
        <label asp-for="MontoAbono">Monto a abonar</label>
        <input asp-for="MontoAbono" type="number" required />
    </div><br />
    <div>
        <label> Intrumentos:</label>

        <input type="checkbox" id="sp500" name="Operacion" value="S&P 500" />
        <label for="sp500">S&P 500 - $500</label>

        <input type="checkbox" id="dowJones" name="Operacion" value="Dow jones" />
        <label for="dowJones">Dow Jones - $300</label>

        <input type="checkbox" id="bonosUS" name="Operacion" value="Bonos US" />
        <label for="bonosUS">Bonos US - $120</label><br />

        <strong>
            <h6>Seleccionar minimo 1 Instrumento </h6>
        </strong>
    </div>
    <button type="submit">Invertir</button>
</form>

@if (Model.Resultados != null && Model.Resultados.Count > 0)
{
    <h2>Resultados</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Instrumento</th>
                <th>Monto</th>
                <th>Igv(18%)</th>
                <th>Fecha de Operacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Resultados)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Monto</td>
                    <td>@item.Igv</td>
                    <th>@item.FechaOperacion.ToString("yyyy-MM-dd")</th>
                </tr>
            }
    </table>

    <h3>Comision: @((Model.MontoAbono <= 300 ? 3 : 1))</h3>
    <h3>Total a pagar: @Model.TotalPag</h3>
}
